@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin col($gap: 16px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


@mixin section-padding($vertical: 96px, $horizontal: 144px) {
  padding: $vertical $horizontal;
}