$bg-gray: #F5F7FA;
$text-color: #18191F;
$base-font-family: Arial, sans-serif;
$text-light: #717171;
$text-dark: #4D4D4D;
$primary-color: #4CAF4F;
$section-padding: 96px 144px;
$container-width: 80vw;
$gap-large: 104px;
$gap-medium: 40px;
$gap-small: 16px;


